/*
 * Main column width
 * This changes it from the default 580px to 1024px
 */
.wp-block, .k-editor-container {
    max-width: 1024px;
}
.k-editor-container {
	margin-left: auto;
	margin-right: auto;
}

/*
 * Styling BOOTSTRAP BUILDER template in gutenbrg
 */
.page-template-template-bootstrap-builder-php .wp-block, 
.page-template-template-bootstrap-builder-php .k-editor-container {
    max-width: unset;
}
.page-template-template-bootstrap-builder-php .k-editor-container {
	margin-left: 0;
	margin-right: 0;
}
.editor-styles-wrapper.page-template-template-bootstrap-builder-php {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.page-template-template-bootstrap-builder-php .edit-post-visual-editor__post-title-wrapper {
    margin-top: 0;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #e0e0e0;
}
.page-template-template-bootstrap-builder-php .editor-post-title.editor-post-title__input {
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
    color: #757575;
}

/*
 * Default width of reusable blocks
 */
.wp-block.is-reusable {
    margin-left: initial;
    margin-right: initial;
    max-width: initial;
}

.wp-block[data-align=full] .wp-block:not(.k-bs-grid-admin-col) {
    max-width: none;
}
.k-editor-container {
    /*padding-left: 15px;
    padding-right: 15px;*/
}
/*
 * Width of "wide" blocks
 * This changes it from the default 1080px to 1280px
 */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}
/*
 * Remoove marging beetween blocks in editor
 */
.block-editor-block-list__block {
    /*margin-top: 0;
    margin-bottom: 0;*/
}
/* fix padding */
.wp-block-group.has-background {
    padding: 0;
}
/*
 * Block editor custom wide blocks remoove margin
 */
.is-root-container > [data-type="k-blocks-slick-hero-parent/k-blocks"][data-align="full"],
.is-root-container > [data-type="k-blocks-bs-section/k-blocks"][data-align="full"],
.is-root-container > [data-type="k-blocks-big-hero/k-blocks"][data-align="full"],
.is-root-container > [data-type="k-blocks-text-wide/k-blocks"][data-align="full"] {
    margin-left: -10px;
    margin-right: -10px;
}

/*
 * Block editor UNDERSTRAP CSS FIXES
 */
 /* fix label verticalalign in ispector */
 .components-font-size-picker__number-container label { margin-bottom: 0; }
 /* background font gutenberg */
.edit-post-layout .interface-interface-skeleton__content {
    background-color: white;
}
:not(.editor-styles-wrapper) a {
    color: #0073aa;
}
:not(.editor-styles-wrapper) a:active, :not(.editor-styles-wrapper) a:hover {
    color: #006799;
}
